th {
  border: solid 2px rgb(181, 183, 196); 
  padding-left: 1em;
  font-size: small;
  font-weight: bolder;
}

td {
  padding: 2px;
  padding-left: 1em;
  border: solid 1px  rgb(129, 145, 156);
  max-width: 20%; 
}

table {
  border-collapse: collapse;
  text-align: left;
  border: solid 2px;
  background-color: cadetblue;
  position: relative;
  top: 2px;
  width: 80%;
}

.k {
  height:100px;
}


input {
  margin-right: 5px;
}


.menuWebsiteName{
  font-size: x-small;
  color: rgb(140, 140, 170);
}

.bigger        { font-size: x-large } 
.big           { font-size: large } 
.smaller       { font-size: smaller }
.small         { font-size: small }
.xSmall        { font-size: x-small }
.red           { color: red; }  
.noMarginLeft  { margin-left: 0px; }
.paddingRight  { padding-right: 1rem }
.noPaddingLeft { padding-left: 0px; }
.down          { bottom: 5px;}

.messageCol{
  background-color: rgb(188, 230, 236);
  border: solid 1px rgb(180, 203, 206);
  font-size: large;
}

.messageColHead{
  background-color: rgb(55, 193, 214);
  border: solid 1px rgb(180, 203, 206);
  font-weight: bolder;
  font-size: x-large;
}

.messageColMessage{
  padding-top: 20%; 
}

.messageContainer{
  background-color: rgb(212, 241, 243);
  border: solid 1px rgb(205, 216, 200);
  font-size: large;
  margin-top: 0.7rem;
 
}.messageContainerHome{
  background-color: rgb(232, 242, 243);
  border: solid 1px rgb(205, 216, 200);
  font-size: large;
  margin-top: 0.7rem;
}

.lightGreyButton{
  background-color: rgb(190, 192, 192);
  border: solid 1px rgb(184, 201, 204);
  color:  rgb(47, 37, 247);;
}

.addItemButton{
  background-color: rgb(186, 219, 211);
  border: solid 1px rgb(193, 197, 179);
  color:  rgb(6, 0, 124);
  max-height: 50px ;
}

.modalFooterLeft {
  justify-content: flex-start;
}

.beheerText: {
  color: antiquewhite;
}

.marginLeft {
  margin-right: 0rem;
}

.paddingLeft {
  padding-left: 2rem;
}

.row {
   /* border: 2px solid black;*/
   padding: 2px;
   padding-left: 20px;
}

.rowTopPadding {
  padding-top: 20px;
}
.rowBottomPadding {
  padding-bottom: 20px;
}

.col {
  border: 0px solid rgb(211, 219, 192);
  padding-left: 0px;
}

.extraMarginTopBottom {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: rgb(172, 181, 185) ;
}

#selectPageJWT{
  width:10rem;   
 }

 .player-wrapper {
  width: auto; 
  height: auto; 
}


.respFontSize {
  font-size: 1REM;
}

@media only screen and (min-width: 768px) {
  .respFontSize {font-size: 2REM}
}
